.btn {
    display: block;
    padding: 7px 20px;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-family: $Poppins;
    font-weight: 500;
    letter-spacing: .72px;
    border-radius: 100px;
    cursor: pointer;

    &.btn-red {
        color: #fff;
        background: linear-gradient($mred, $lred);
    }

    &.light {
        font-weight: 300;
    }
}

.small-cta {
    display: block;
    margin: 5px 0;
    cursor: pointer;
    a {
        font-weight: 600;
    }

    .icon {
        vertical-align: middle;
    }

    &.light-blue {
        color: $lblue;

        svg path {
            fill: $lblue;
        }
    }

    svg {
        line-height: 4;
        margin-left: 10px;
        max-width: 15px;

        path {
        }
    }
}
