.btn {
    display: block;
    position: relative;
    padding: 12px 25px;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-family: $Poppins;
    font-weight: 100;
    letter-spacing: .72px;
    border-radius: 2px;
    cursor: pointer;
    background: $lblue;
    -webkit-font-smoothing: antialiased;

    a {
        width: 100%;
        padding: 12px 0px;
    }

    &.btn-blue {
        background: $lblue;
        color: #fff;
    }

    &:hover {
        opacity: .7;
    }

    &.light {
        font-weight: 300;
    }
}

.small-cta {
    display: block;
    margin: 5px 0;
    cursor: pointer;
    a {
        font-weight: 100;
    }

    .icon {
        vertical-align: middle;
    }

    &.light-blue {
        color: $lblue;

        svg path {
            fill: $lblue;
        }
    }

    svg {
        line-height: 4;
        margin-left: 10px;
        max-width: 15px;

        path {
        }
    }
}
