.form-subscribe {
    position: relative;
    padding-left: 0;
    padding-top: 30px;

    form {
        @include clearfix;
    }

    .line {
        position: absolute;
        width: 0;
        display: block;
        height: 2px;
        background: $lblue;
        bottom: 0;
        left: 0;
    }

    input[type="text"]:focus ~ .line {
        width: 15%;
    }

    input {
        border: none;
        font-size: 16px;
        padding: .5em 0;
        outline: none;

        @media screen and (max-width: $mobile-lg) {
            font-size: 16px;
        }

        &[type="text"] {
            float: left;
            padding-left: 0;
            background: transparent;
            min-width: 70%;
            border-bottom: 1px solid #F1F1F1;
        }

        &[type="submit"] {
            float: left;
            background: $lblue;
            color: #fff;
            width: 30%;
            // padding: .5em 1em;
            border-radius: $radius;
            text-transform: uppercase;

            &:hover {
                opacity: .7;
            }
        }

        @media screen and (max-width: $mobile-sm) {
            &[type="text"] {
                display: block;
                width: 100%;
                margin-bottom: 1em;
            }

            &[type="submit"] {
                display: block;
                width: 100%;
            }
        }
    }
}
