.main-title {

}

.head-title {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 200;

    @media screen and (max-width: $mobile-lg) {
        font-size: 27px;
    }
}

.sb-title {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 500;
}
