.catchline {
    clear: both;
    padding: 1.5em 0 5em 0;

    p {
        font-family: $Poppins;
        span {
            font-family: inherit;
            font-size: inherit;
        }
    }

    .form-subscribe {
        position: relative;
        padding-top: 30px;

        form {
            @include clearfix;
        }

        .line {
            position: absolute;
            width: 0;
            display: block;
            height: 2px;
            background: $lblue;
            bottom: 0;
            left: 0;
        }

        input[type="text"]:focus ~ .line {
            width: 15%;
        }
    }

    input {
        border: none;
        font-size: 20px;
        padding: .5em 0;
        outline: none;

        &[type="text"] {
            float: left;
            padding-left: 0;
            min-width: 70%;
            border-bottom: 1px solid $llgrey;
        }

        &[type="submit"] {
            float: left;
            background: $lblue;
            color: #fff;
            padding: .5em 1em;

            &:hover {
                opacity: .7;
            }
        }
    }
}
