.catchline {
    clear: both;
    padding: 1.5em 0 5em 0;

    p {
        font-family: $Poppins;
        span {
            font-family: inherit;
            font-size: inherit;
        }
    }

    input {
        border: none;
        font-size: 20px;
        padding: .5em 0;
        outline: none;

        &[type="text"] {
            border-bottom: 1px solid $llgrey;
        }

        &[type="submit"] {
            background: $lblue;
            color: #fff;
            padding: .5em 1em;
        }
    }
}
