header.sticky {
    position: fixed;
    padding: 0;
    z-index: 888;
    background: #fff;
    border-bottom: 1px solid #F1F1F1;
    transition: none;

    .logo {
        display: none;
    }
}

// logo
.logo {
    svg {
        width: 75px;
    }
}

header {
    position: absolute;
    z-index: 888;
    padding: 2em 0;
    margin: auto;
    left: 0;
    right: 0;
    transition: none;
}

@media screen and (max-width: $tablet-lg) {

  .header {
    text-align: center;
  }

    .logo {
        margin: 1em 0 4em 0;
        text-align: center;
        svg {
            width: 95px;
        }
    }
}

// nav bar
nav {
    line-height: 4;
    text-align: right;
    ul {
        font-size: 0;
    }
    li {
        font-size: initial;
        display: inline-block;
        padding: 0 2em;
        &:last-child {
            padding-right: 0;
        }

        &.active {
            a {
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    background: $lblue;
                    height: 2px;
                    bottom: -10px;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    @media screen and (max-width: $tablet-lg) {
        display: none;
    }
}
