header.sticky {
    position: fixed;
    padding: 0;
    z-index: 444;
    background: #fff;
    border-bottom: 1px solid #F1F1F1;
    transition: none;

    .logo {
        display: none;
    }
}

svg {
    width: 65px;
}

header {
    position: absolute;
    padding: 2em 0;
    margin: auto;
    left: 0;
    right: 0;
    transition: none;
}

@media screen and (max-width: $mobile-lg) {
    .logo {
        text-align: center;
        margin-bottom: 1em;
    }
}

.logo {
    img {
        max-height: 60px;
    }
}

// nav bar
nav {
    line-height: 4;
    text-align: right;
    ul {
        font-size: 0;
    }
    li {
        font-size: initial;
        display: inline-block;
        padding: 0 2em;
        &:last-child {
            padding-right: 0;
        }

        &.active {
            a {
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    background: $lblue;
                    height: 2px;
                    bottom: -10px;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    @media screen and (max-width: $mobile-lg) {
        display: none;
    }
}
