// CARACTERS

.return {
    display: block;
}

.bolder {
    font-weight: bolder;
}

// TEXT POS

.text-centered {
    text-align: center;
}

.text-right {
    text-align: right;
}

// BLOCK POS

.pos-right {
    float: right;
}

.centered {
    float: none;
    margin: 0 auto;
}

// COLORS

.color-white {
    color: #fff;
}

.color-lblue {
    color: $lblue;
}

.head-strate.spacer {
    margin: 2em 0 4em 0;
}
