* {
    margin: 0;
    padding: 0;
    font-family: $Roboto;
    font-size: 15px;
    font-weight: 300;
    transition: .2s ease-out;
}

ul {
    padding: 0 !important;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        font-weight: bolder;
    }
}

body {
    overflow-x: hidden;
    background-image: url('../img/img-layout/background-img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

h1, h2, h3 {
    font-family: $Poppins;
    span {
        font-family: inherit;
        font-size: inherit;
    }
}

p {
    line-height: 1.5;
}

@media screen and (min-width: $mobile-lg) {
    section {
        margin: 4em 0;
    }
}

.content {
    transition: .3s ease-out;
}

footer {
    padding: 3em 0 5em 0;

    ul {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        li a {
            font-family: 600;
        }
    }

    @media screen and (max-width: $tablet-lg) {
        padding-bottom: 2em;
        ul {
            flex-direction: column;

            li {
                padding: .4em 0;
            }
        }

        .text-right {
            text-align: left;
            margin-top: 1em;
            padding-left: 0;
        }
    }
}
