$mobile-sm: 480px;
$mobile-lg: 767px;

$tablet-sm: 768px;
$tablet-lg: 1024px;

// FONTS
$Poppins: 'Poppins', Arial, sans-serif;
$Roboto: 'Roboto', Arial, sans-serif;

// COLORS

// $lblue: #667AF4;
$lblue: #45c2e0;

// MAIN COLORS
$llgrey: #F6F6F6;
$lgrey: #F1F1F1;

// MISC
$radius: 2px;
