$mobile-sm: 480px;
$mobile-lg: 600px;

// FONTS
$Poppins: 'Poppins', Arial, sans-serif;
$Roboto: 'Roboto', Arial, sans-serif;

// COLORS
$lred: #FF6363;
$mred: #F34837;

$lblue: #667AF4;

// MAIN COLORS
$llgrey: #F6F6F6;

// MISC
$radius: 8px;
