@charset "UTF-8";
/* line 1, ../sass/basics/_reset.scss */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  transition: .2s ease-out;
}

/* line 10, ../sass/basics/_reset.scss */
ul {
  padding: 0 !important;
  list-style-type: none;
}

/* line 15, ../sass/basics/_reset.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 20, ../sass/basics/_reset.scss */
body {
  overflow-x: hidden;
  background-image: url("../img/img-layout/background-img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 27, ../sass/basics/_reset.scss */
h1, h2, h3 {
  font-family: "Poppins", Arial, sans-serif;
}
/* line 29, ../sass/basics/_reset.scss */
h1 span, h2 span, h3 span {
  font-family: inherit;
  font-size: inherit;
}

/* line 35, ../sass/basics/_reset.scss */
p {
  line-height: 1.5;
}

@media screen and (min-width: 767px) {
  /* line 40, ../sass/basics/_reset.scss */
  section {
    margin: 4em 0;
  }
}
/* line 45, ../sass/basics/_reset.scss */
.content {
  transition: .3s ease-out;
}

/* line 49, ../sass/basics/_reset.scss */
footer {
  padding: 3em 0 5em 0;
}
/* line 52, ../sass/basics/_reset.scss */
footer ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
/* line 56, ../sass/basics/_reset.scss */
footer ul li a {
  font-family: 600;
}
@media screen and (max-width: 1024px) {
  /* line 49, ../sass/basics/_reset.scss */
  footer {
    padding-bottom: 2em;
  }
  /* line 63, ../sass/basics/_reset.scss */
  footer ul {
    flex-direction: column;
  }
  /* line 66, ../sass/basics/_reset.scss */
  footer ul li {
    padding: .4em 0;
  }
  /* line 71, ../sass/basics/_reset.scss */
  footer .text-right {
    text-align: left;
    margin-top: 1em;
    padding-left: 0;
  }
}

/* line 3, ../sass/basics/_classes.scss */
.return {
  display: block;
}

/* line 7, ../sass/basics/_classes.scss */
.bolder {
  font-weight: bolder;
}

/* line 13, ../sass/basics/_classes.scss */
.text-centered {
  text-align: center;
}

/* line 17, ../sass/basics/_classes.scss */
.text-right {
  text-align: right;
}

/* line 23, ../sass/basics/_classes.scss */
.pos-right {
  float: right;
}

/* line 27, ../sass/basics/_classes.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 34, ../sass/basics/_classes.scss */
.color-white {
  color: #fff;
}

/* line 38, ../sass/basics/_classes.scss */
.color-lblue {
  color: #667AF4;
}

/* line 42, ../sass/basics/_classes.scss */
.head-strate.spacer {
  margin: 2em 0 4em 0;
}
@media screen and (max-width: 767px) {
  /* line 42, ../sass/basics/_classes.scss */
  .head-strate.spacer {
    margin: 2em 0;
  }
}

/* line 1, ../sass/styleguide/_buttons.scss */
.btn {
  display: block;
  position: relative;
  padding: 12px 25px;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 100;
  letter-spacing: .72px;
  border-radius: 2px;
  cursor: pointer;
  background: #667AF4;
  -webkit-font-smoothing: antialiased;
}
/* line 16, ../sass/styleguide/_buttons.scss */
.btn a {
  width: 100%;
  padding: 12px 0px;
}
/* line 21, ../sass/styleguide/_buttons.scss */
.btn.btn-blue {
  background: #667AF4;
  color: #fff;
}
/* line 26, ../sass/styleguide/_buttons.scss */
.btn:hover {
  opacity: .7;
}
/* line 30, ../sass/styleguide/_buttons.scss */
.btn.light {
  font-weight: 300;
}

/* line 35, ../sass/styleguide/_buttons.scss */
.small-cta {
  display: block;
  margin: 5px 0;
  cursor: pointer;
}
/* line 39, ../sass/styleguide/_buttons.scss */
.small-cta a {
  font-weight: 100;
}
/* line 43, ../sass/styleguide/_buttons.scss */
.small-cta .icon {
  vertical-align: middle;
}
/* line 47, ../sass/styleguide/_buttons.scss */
.small-cta.light-blue {
  color: #667AF4;
}
/* line 50, ../sass/styleguide/_buttons.scss */
.small-cta.light-blue svg path {
  fill: #667AF4;
}
/* line 55, ../sass/styleguide/_buttons.scss */
.small-cta svg {
  line-height: 4;
  margin-left: 10px;
  max-width: 15px;
}

/* line 5, ../sass/styleguide/_titles.scss */
.head-title {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 200;
}
@media screen and (max-width: 767px) {
  /* line 5, ../sass/styleguide/_titles.scss */
  .head-title {
    font-size: 27px;
  }
}

/* line 15, ../sass/styleguide/_titles.scss */
.sb-title {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 500;
}

/* line 1, ../sass/styleguide/_forms.scss */
.form-subscribe {
  position: relative;
  padding-left: 0;
  padding-top: 30px;
}
/* line 2, ../sass/basics/_clearfix.scss */
.form-subscribe form:after {
  content: "";
  display: table;
  clear: both;
}
/* line 10, ../sass/styleguide/_forms.scss */
.form-subscribe .line {
  position: absolute;
  width: 0;
  display: block;
  height: 2px;
  background: #667AF4;
  bottom: 0;
  left: 0;
}
/* line 20, ../sass/styleguide/_forms.scss */
.form-subscribe input[type="text"]:focus ~ .line {
  width: 15%;
}
/* line 24, ../sass/styleguide/_forms.scss */
.form-subscribe input {
  border: none;
  font-size: 16px;
  padding: .5em 0;
  outline: none;
}
@media screen and (max-width: 767px) {
  /* line 24, ../sass/styleguide/_forms.scss */
  .form-subscribe input {
    font-size: 16px;
  }
}
/* line 34, ../sass/styleguide/_forms.scss */
.form-subscribe input[type="text"] {
  float: left;
  padding-left: 0;
  min-width: 70%;
  border-bottom: 1px solid #F1F1F1;
}
/* line 41, ../sass/styleguide/_forms.scss */
.form-subscribe input[type="submit"] {
  float: left;
  background: #667AF4;
  color: #fff;
  width: 30%;
  padding: .5em 1em;
  border-radius: 2px;
  text-transform: uppercase;
}
/* line 50, ../sass/styleguide/_forms.scss */
.form-subscribe input[type="submit"]:hover {
  opacity: .7;
}
@media screen and (max-width: 480px) {
  /* line 56, ../sass/styleguide/_forms.scss */
  .form-subscribe input[type="text"] {
    min-width: 60%;
  }
  /* line 60, ../sass/styleguide/_forms.scss */
  .form-subscribe input[type="submit"] {
    width: 40%;
  }
}

/* line 1, ../sass/elements/_header.scss */
header.sticky {
  position: fixed;
  padding: 0;
  z-index: 888;
  background: #fff;
  border-bottom: 1px solid #F1F1F1;
  transition: none;
}
/* line 9, ../sass/elements/_header.scss */
header.sticky .logo {
  display: none;
}

/* line 16, ../sass/elements/_header.scss */
.logo svg {
  width: 75px;
}

/* line 21, ../sass/elements/_header.scss */
header {
  position: absolute;
  z-index: 888;
  padding: 2em 0;
  margin: auto;
  left: 0;
  right: 0;
  transition: none;
}

@media screen and (max-width: 767px) {
  /* line 33, ../sass/elements/_header.scss */
  .logo {
    margin: 1em 0 4em 0;
    text-align: center;
  }
  /* line 36, ../sass/elements/_header.scss */
  .logo svg {
    width: 95px;
  }
}
/* line 43, ../sass/elements/_header.scss */
nav {
  line-height: 4;
  text-align: right;
}
/* line 46, ../sass/elements/_header.scss */
nav ul {
  font-size: 0;
}
/* line 49, ../sass/elements/_header.scss */
nav li {
  font-size: initial;
  display: inline-block;
  padding: 0 2em;
}
/* line 53, ../sass/elements/_header.scss */
nav li:last-child {
  padding-right: 0;
}
/* line 58, ../sass/elements/_header.scss */
nav li.active a {
  position: relative;
}
/* line 61, ../sass/elements/_header.scss */
nav li.active a:before {
  content: '';
  display: block;
  position: absolute;
  background: #667AF4;
  height: 2px;
  bottom: -10px;
  left: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  /* line 43, ../sass/elements/_header.scss */
  nav {
    display: none;
  }
}

/* line 1, ../sass/elements/_catchline.scss */
.catchline {
  clear: both;
  padding: 0 0 5em 0;
}
/* line 5, ../sass/elements/_catchline.scss */
.catchline .head-title {
  padding-left: 0;
}
/* line 9, ../sass/elements/_catchline.scss */
.catchline p {
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.8;
}
/* line 12, ../sass/elements/_catchline.scss */
.catchline p span {
  font-family: inherit;
  font-size: 15px;
}
/* line 18, ../sass/elements/_catchline.scss */
.catchline .form-subscribe {
  position: relative;
  padding-left: 0;
  padding-top: 30px;
}
/* line 2, ../sass/basics/_clearfix.scss */
.catchline .form-subscribe form:after {
  content: "";
  display: table;
  clear: both;
}
/* line 27, ../sass/elements/_catchline.scss */
.catchline .form-subscribe .line {
  position: absolute;
  width: 0;
  display: block;
  height: 2px;
  background: #667AF4;
  bottom: 0;
  left: 0;
}
/* line 37, ../sass/elements/_catchline.scss */
.catchline .form-subscribe input[type="text"]:focus ~ .line {
  width: 15%;
}
/* line 42, ../sass/elements/_catchline.scss */
.catchline input {
  border: none;
  font-size: 20px;
  padding: .5em 0;
  outline: none;
}
@media screen and (max-width: 767px) {
  /* line 42, ../sass/elements/_catchline.scss */
  .catchline input {
    font-size: 16px;
  }
}
/* line 52, ../sass/elements/_catchline.scss */
.catchline input[type="text"] {
  float: left;
  padding-left: 0;
  min-width: 70%;
  border-bottom: 1px solid #F1F1F1;
}
/* line 59, ../sass/elements/_catchline.scss */
.catchline input[type="submit"] {
  float: left;
  background: #667AF4;
  color: #fff;
  width: 30%;
  padding: .5em 1em;
  border-radius: 2px;
}
/* line 67, ../sass/elements/_catchline.scss */
.catchline input[type="submit"]:hover {
  opacity: .7;
}

/* line 1, ../sass/strates/_intro.scss */
#intro {
  position: relative;
  padding-top: 6em;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
}
/* line 8, ../sass/strates/_intro.scss */
#intro .container {
  padding-top: 8em;
  max-width: 60%;
  margin-left: 7%;
  float: left !important;
}
/* line 16, ../sass/strates/_intro.scss */
#intro .wrapper-actions label {
  display: block;
  background: #667AF4;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  border-radius: 2px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: .9px;
  cursor: pointer;
}
/* line 2, ../sass/basics/_clearfix.scss */
#intro form:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1024px) {
  /* line 1, ../sass/strates/_intro.scss */
  #intro {
    padding-top: 10em;
    min-height: 60vh;
    text-align: center;
  }
  /* line 36, ../sass/strates/_intro.scss */
  #intro .container {
    max-width: 100%;
    float: none !important;
    margin: 0 auto;
    padding-top: 0;
  }
  /* line 47, ../sass/strates/_intro.scss */
  #intro .wrapper-actions {
    float: none;
    margin: 0 auto;
  }
  /* line 52, ../sass/strates/_intro.scss */
  #intro .content p {
    width: 70%;
    margin: 0 auto;
  }
  /* line 57, ../sass/strates/_intro.scss */
  #intro .btn {
    margin: 2em auto !important;
  }
}
/* line 62, ../sass/strates/_intro.scss */
#intro h1 {
  line-height: 1.3;
}
/* line 66, ../sass/strates/_intro.scss */
#intro h1 span {
  font-size: 1.3em;
  font-weight: 200;
}
/* line 70, ../sass/strates/_intro.scss */
#intro h1 span span {
  font-size: inherit;
  font-weight: inherit;
}
@media screen and (max-width: 767px) {
  /* line 66, ../sass/strates/_intro.scss */
  #intro h1 span {
    font-size: 1.2em;
  }
}
/* line 78, ../sass/strates/_intro.scss */
#intro h1 span.lined {
  position: relative;
}
/* line 102, ../sass/strates/_intro.scss */
#intro .caption {
  clear: both;
}
/* line 107, ../sass/strates/_intro.scss */
#intro .content {
  clear: both;
  margin-top: 10px;
}
/* line 2, ../sass/basics/_clearfix.scss */
#intro .content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 112, ../sass/strates/_intro.scss */
#intro .content .btn {
  margin: 2em 0 0 0;
  border-radius: 2px;
}
@keyframes floatingPreview {
  0% {
    margin: 0;
  }
  50% {
    margin-top: -10%;
  }
  100% {
    margin: 0;
  }
}
/* line 130, ../sass/strates/_intro.scss */
#intro #preview {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}
/* line 137, ../sass/strates/_intro.scss */
#intro #preview figure [data-device="desktop"] {
  width: 1000px;
}
/* line 141, ../sass/strates/_intro.scss */
#intro #preview figure [data-device="mobile"] {
  position: absolute;
  width: 300px;
  bottom: 2%;
  left: -5%;
}
@media screen and (max-width: 767px) {
  /* line 136, ../sass/strates/_intro.scss */
  #intro #preview figure {
    position: initial;
  }
}

/* line 1, ../sass/strates/_about-app.scss */
#about-app {
  padding-top: 7em;
  min-height: 80vh;
}
/* line 6, ../sass/strates/_about-app.scss */
#about-app .wrapper-content {
  padding: 6em 0;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
}
/* line 13, ../sass/strates/_about-app.scss */
#about-app .main-caption {
  padding-top: 70px;
  text-align: center;
}
/* line 16, ../sass/strates/_about-app.scss */
#about-app .main-caption figure {
  margin: auto;
  right: 0;
  text-align: center;
}
/* line 22, ../sass/strates/_about-app.scss */
#about-app .main-caption .content {
  padding: 0 35px 0 35px;
}
/* line 28, ../sass/strates/_about-app.scss */
#about-app .content {
  position: relative;
  padding-left: 90px;
  transition: .2s ease-out;
}
/* line 33, ../sass/strates/_about-app.scss */
#about-app .content figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .6;
}
/* line 40, ../sass/strates/_about-app.scss */
#about-app .content figure img {
  width: 110px;
}
/* line 56, ../sass/strates/_about-app.scss */
#about-app .block-content {
  margin-bottom: 3.5em;
}
/* line 59, ../sass/strates/_about-app.scss */
#about-app .block-content .small-cta {
  visibility: hidden;
  opacity: 0;
  font-family: "Poppins", Arial, sans-serif;
  margin-top: 20px;
  padding-left: 0;
  margin-left: -15px;
  transition: .4s ease-out;
}
/* line 68, ../sass/strates/_about-app.scss */
#about-app .block-content .small-cta .icon path {
  fill: #667AF4;
}
/* line 74, ../sass/strates/_about-app.scss */
#about-app .block-content .content:hover .small-cta {
  visibility: visible;
  opacity: 1;
  margin-left: 0;
  transition: .2s ease-out;
}
/* line 80, ../sass/strates/_about-app.scss */
#about-app .block-content .content:hover .small-cta .icon path {
  fill: #667AF4;
}
@media screen and (min-width: 1024px) {
  /* line 90, ../sass/strates/_about-app.scss */
  #about-app .main-caption .content {
    padding-top: 80px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  /* line 99, ../sass/strates/_about-app.scss */
  #about-app .main-caption {
    float: none;
    clear: both;
    margin: 0 auto 3em auto;
  }
  /* line 105, ../sass/strates/_about-app.scss */
  #about-app .content {
    padding: 0;
  }
  /* line 109, ../sass/strates/_about-app.scss */
  #about-app figure {
    position: initial !important;
    margin: 0 auto;
    text-align: center;
  }
  /* line 115, ../sass/strates/_about-app.scss */
  #about-app .caption {
    float: none;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  /* line 123, ../sass/strates/_about-app.scss */
  #about-app .wrapper-content {
    padding: 3em 0;
  }
  /* line 127, ../sass/strates/_about-app.scss */
  #about-app .main-caption {
    margin: 0 auto;
  }
  /* line 131, ../sass/strates/_about-app.scss */
  #about-app .col-xs-11 {
    float: none;
    margin: 0 auto;
  }
  /* line 136, ../sass/strates/_about-app.scss */
  #about-app figure {
    position: initial !important;
    width: 200px;
    margin: 0 auto;
  }
  /* line 142, ../sass/strates/_about-app.scss */
  #about-app .block-content {
    float: none;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
  }
  /* line 149, ../sass/strates/_about-app.scss */
  #about-app .content {
    clear: both;
    margin-bottom: 3.5em;
    padding-left: 15px;
  }
}

/* line 1, ../sass/strates/_about-us.scss */
#about-us {
  position: relative;
  padding-bottom: 7em;
}
/* line 5, ../sass/strates/_about-us.scss */
#about-us figure {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #fff;
  margin-bottom: 40px;
  overflow: hidden;
  border: 5px solid #fff;
}
/* line 15, ../sass/strates/_about-us.scss */
#about-us figure img {
  height: 250px;
  margin-left: -25%;
}
/* line 20, ../sass/strates/_about-us.scss */
#about-us figure img:last-child {
  margin-left: -15%;
  height: 200px;
}
@media screen and (max-width: 767px) {
  /* line 1, ../sass/strates/_about-us.scss */
  #about-us {
    padding-bottom: 4em;
  }
  /* line 30, ../sass/strates/_about-us.scss */
  #about-us .ppl {
    margin-bottom: 4em;
  }
}

/* line 1, ../sass/strates/_pricing.scss */
#pricing {
  position: relative;
  min-height: 80vh;
}
@media screen and (max-width: 767px) {
  /* line 1, ../sass/strates/_pricing.scss */
  #pricing {
    padding-top: 3.5em;
    min-height: auto;
  }
}
/* line 11, ../sass/strates/_pricing.scss */
#pricing.off:before {
  height: 0;
}
/* line 16, ../sass/strates/_pricing.scss */
#pricing:before {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% + 30px);
  height: 100vh;
  top: 60%;
  left: -15px;
  background: #F6F6F6;
  transition: 1.2s ease-in-out;
}
@media screen and (min-width: 1024px) {
  /* line 16, ../sass/strates/_pricing.scss */
  #pricing:before {
    height: 130vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 16, ../sass/strates/_pricing.scss */
  #pricing:before {
    height: 140vh;
  }
}
@media screen and (max-width: 767px) {
  /* line 16, ../sass/strates/_pricing.scss */
  #pricing:before {
    height: 175vh;
  }
}
@media screen and (max-width: 480px) {
  /* line 16, ../sass/strates/_pricing.scss */
  #pricing:before {
    height: 185vh;
  }
}
/* line 44, ../sass/strates/_pricing.scss */
#pricing .pricing-els {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 1024px) {
  /* line 44, ../sass/strates/_pricing.scss */
  #pricing .pricing-els {
    display: block;
  }
  /* line 51, ../sass/strates/_pricing.scss */
  #pricing .pricing-els .pricing-el {
    width: 90%;
    margin: 0 auto;
  }
}
/* line 58, ../sass/strates/_pricing.scss */
#pricing .pricing-el {
  width: 30%;
  background: #fff;
  border-radius: 2px;
  padding: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
  transform: none;
  transition: .3s ease-out;
}
/* line 68, ../sass/strates/_pricing.scss */
#pricing .pricing-el:nth-child(2) .head-el {
  padding: 3em 0 2em 0;
}
@media screen and (min-width: 1024px) {
  /* line 74, ../sass/strates/_pricing.scss */
  #pricing .pricing-el:hover {
    transform: translateY(-5%) !important;
    box-shadow: 0 24px 38px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.12);
  }
  /* line 78, ../sass/strates/_pricing.scss */
  #pricing .pricing-el:hover .cta-el {
    color: #fff;
    transition: .2s ease-out;
  }
  /* line 81, ../sass/strates/_pricing.scss */
  #pricing .pricing-el:hover .cta-el:before {
    right: 0;
    transition: .3s ease-out;
  }
}
/* line 90, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el {
  padding: 2em 0 1em 0;
  border-bottom: 1px solid #F6F6F6;
}
/* line 93, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el h3 {
  padding: 0 10px;
  font-size: 22px;
  font-weight: 400;
}
/* line 98, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el h3 span {
  font-size: inherit;
}
/* line 101, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el h3 span.price {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 3px;
}
/* line 110, ../sass/strates/_pricing.scss */
#pricing .pricing-el .content-el {
  padding: 1.5em 2em;
  text-align: center;
  line-height: 2;
}
/* line 116, ../sass/strates/_pricing.scss */
#pricing .pricing-el .cta-el {
  position: relative;
  background: #667AF4;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}
/* line 125, ../sass/strates/_pricing.scss */
#pricing .pricing-el .cta-el a {
  position: relative;
  display: block;
  z-index: 2;
  padding: 1em 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .5px;
  transition: .3s ease-out;
}
/* line 137, ../sass/strates/_pricing.scss */
#pricing .pricing-el .cta-el:before {
  position: absolute;
  display: block;
  content: '';
  background: #667AF4;
  left: 0;
  right: 100%;
  top: 0;
  height: 100%;
  z-index: 0;
  transition: .3s ease-out;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 154, ../sass/strates/_pricing.scss */
#pricing .carousel-dots {
  display: none;
  width: 100%;
  min-height: 50px;
  text-align: center;
  margin-top: 2em;
}
@media screen and (max-width: 1024px) {
  /* line 154, ../sass/strates/_pricing.scss */
  #pricing .carousel-dots {
    display: block;
  }
  /* line 163, ../sass/strates/_pricing.scss */
  #pricing .carousel-dots span.dot.active {
    background: #667AF4;
  }
  /* line 167, ../sass/strates/_pricing.scss */
  #pricing .carousel-dots span.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
  }
}

/* line 1, ../sass/strates/_intro.scss */
#intro {
  position: relative;
  padding-top: 6em;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
}
/* line 8, ../sass/strates/_intro.scss */
#intro .container {
  padding-top: 8em;
  max-width: 60%;
  margin-left: 7%;
  float: left !important;
}
/* line 16, ../sass/strates/_intro.scss */
#intro .wrapper-actions label {
  display: block;
  background: #667AF4;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  border-radius: 2px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: .9px;
  cursor: pointer;
}
/* line 2, ../sass/basics/_clearfix.scss */
#intro form:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1024px) {
  /* line 1, ../sass/strates/_intro.scss */
  #intro {
    padding-top: 10em;
    min-height: 60vh;
    text-align: center;
  }
  /* line 36, ../sass/strates/_intro.scss */
  #intro .container {
    max-width: 100%;
    float: none !important;
    margin: 0 auto;
    padding-top: 0;
  }
  /* line 47, ../sass/strates/_intro.scss */
  #intro .wrapper-actions {
    float: none;
    margin: 0 auto;
  }
  /* line 52, ../sass/strates/_intro.scss */
  #intro .content p {
    width: 70%;
    margin: 0 auto;
  }
  /* line 57, ../sass/strates/_intro.scss */
  #intro .btn {
    margin: 2em auto !important;
  }
}
/* line 62, ../sass/strates/_intro.scss */
#intro h1 {
  line-height: 1.3;
}
/* line 66, ../sass/strates/_intro.scss */
#intro h1 span {
  font-size: 1.3em;
  font-weight: 200;
}
/* line 70, ../sass/strates/_intro.scss */
#intro h1 span span {
  font-size: inherit;
  font-weight: inherit;
}
@media screen and (max-width: 767px) {
  /* line 66, ../sass/strates/_intro.scss */
  #intro h1 span {
    font-size: 1.2em;
  }
}
/* line 78, ../sass/strates/_intro.scss */
#intro h1 span.lined {
  position: relative;
}
/* line 102, ../sass/strates/_intro.scss */
#intro .caption {
  clear: both;
}
/* line 107, ../sass/strates/_intro.scss */
#intro .content {
  clear: both;
  margin-top: 10px;
}
/* line 2, ../sass/basics/_clearfix.scss */
#intro .content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 112, ../sass/strates/_intro.scss */
#intro .content .btn {
  margin: 2em 0 0 0;
  border-radius: 2px;
}
@keyframes floatingPreview {
  0% {
    margin: 0;
  }
  50% {
    margin-top: -10%;
  }
  100% {
    margin: 0;
  }
}
/* line 130, ../sass/strates/_intro.scss */
#intro #preview {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}
/* line 137, ../sass/strates/_intro.scss */
#intro #preview figure [data-device="desktop"] {
  width: 1000px;
}
/* line 141, ../sass/strates/_intro.scss */
#intro #preview figure [data-device="mobile"] {
  position: absolute;
  width: 300px;
  bottom: 2%;
  left: -5%;
}
@media screen and (max-width: 767px) {
  /* line 136, ../sass/strates/_intro.scss */
  #intro #preview figure {
    position: initial;
  }
}

/* line 7, ../sass/screen.scss */
header.sticky  {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 444;
  padding: 1em 0;
  background: #fff;
  border-bottom: 1px solid #F1F1F1;
}
