/* line 1, ../sass/basics/_reset.scss */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  transition: .2s ease-out;
}

/* line 10, ../sass/basics/_reset.scss */
ul {
  list-style-type: none;
}

/* line 14, ../sass/basics/_reset.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 19, ../sass/basics/_reset.scss */
body {
  overflow-x: hidden;
  background-image: url("../img/img-layout/background-img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 26, ../sass/basics/_reset.scss */
h1, h2, h3 {
  font-family: "Poppins", Arial, sans-serif;
}
/* line 28, ../sass/basics/_reset.scss */
h1 span, h2 span, h3 span {
  font-family: inherit;
  font-size: inherit;
}

/* line 34, ../sass/basics/_reset.scss */
p {
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
  /* line 39, ../sass/basics/_reset.scss */
  section {
    margin: 4em 0;
  }
}
/* line 44, ../sass/basics/_reset.scss */
.content {
  transition: .3s ease-out;
}

/* line 48, ../sass/basics/_reset.scss */
footer {
  padding: 3em 0 5em 0;
}
/* line 51, ../sass/basics/_reset.scss */
footer ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

/* line 3, ../sass/basics/_classes.scss */
.return {
  display: block;
}

/* line 7, ../sass/basics/_classes.scss */
.bolder {
  font-weight: bolder;
}

/* line 13, ../sass/basics/_classes.scss */
.text-centered {
  text-align: center;
}

/* line 17, ../sass/basics/_classes.scss */
.text-right {
  text-align: right;
}

/* line 23, ../sass/basics/_classes.scss */
.pos-right {
  float: right;
}

/* line 27, ../sass/basics/_classes.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 34, ../sass/basics/_classes.scss */
.color-white {
  color: #fff;
}

/* line 38, ../sass/basics/_classes.scss */
.color-lblue {
  color: #667AF4;
}

/* line 42, ../sass/basics/_classes.scss */
.head-strate.spacer {
  margin: 2em 0 4em 0;
}

/* line 1, ../sass/styleguide/_buttons.scss */
.btn {
  display: block;
  padding: 7px 20px;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: .72px;
  border-radius: 100px;
  cursor: pointer;
}
/* line 13, ../sass/styleguide/_buttons.scss */
.btn.btn-red {
  color: #fff;
  background: linear-gradient(#F34837, #FF6363);
}
/* line 18, ../sass/styleguide/_buttons.scss */
.btn.light {
  font-weight: 300;
}

/* line 23, ../sass/styleguide/_buttons.scss */
.small-cta {
  display: block;
  margin: 5px 0;
  cursor: pointer;
}
/* line 27, ../sass/styleguide/_buttons.scss */
.small-cta a {
  font-weight: 600;
}
/* line 31, ../sass/styleguide/_buttons.scss */
.small-cta .icon {
  vertical-align: middle;
}
/* line 35, ../sass/styleguide/_buttons.scss */
.small-cta.light-blue {
  color: #667AF4;
}
/* line 38, ../sass/styleguide/_buttons.scss */
.small-cta.light-blue svg path {
  fill: #667AF4;
}
/* line 43, ../sass/styleguide/_buttons.scss */
.small-cta svg {
  line-height: 4;
  margin-left: 10px;
  max-width: 15px;
}

/* line 5, ../sass/styleguide/_titles.scss */
.head-title {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 600;
}

/* line 11, ../sass/styleguide/_titles.scss */
.sb-title {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 700;
}

/* line 1, ../sass/elements/_header.scss */
header {
  padding: 3em 0;
}
@media screen and (max-width: 600px) {
  /* line 5, ../sass/elements/_header.scss */
  header .logo {
    text-align: center;
    margin-bottom: 1em;
  }
}
/* line 12, ../sass/elements/_header.scss */
header .logo img {
  max-width: 80px;
}
/* line 18, ../sass/elements/_header.scss */
header nav {
  line-height: 3;
  text-align: right;
}
/* line 21, ../sass/elements/_header.scss */
header nav ul {
  font-size: 0;
}
/* line 24, ../sass/elements/_header.scss */
header nav li {
  font-size: initial;
  display: inline-block;
  padding: 0 2em;
}
/* line 28, ../sass/elements/_header.scss */
header nav li:last-child {
  padding-right: 0;
}
@media screen and (max-width: 600px) {
  /* line 18, ../sass/elements/_header.scss */
  header nav {
    display: none;
  }
}

/* line 1, ../sass/elements/_catchline.scss */
.catchline {
  clear: both;
  padding: 1.5em 0 5em 0;
}
/* line 5, ../sass/elements/_catchline.scss */
.catchline p {
  font-family: "Poppins", Arial, sans-serif;
}
/* line 7, ../sass/elements/_catchline.scss */
.catchline p span {
  font-family: inherit;
  font-size: inherit;
}
/* line 13, ../sass/elements/_catchline.scss */
.catchline .form-subscribe {
  position: relative;
  padding-top: 30px;
}
/* line 2, ../sass/basics/_clearfix.scss */
.catchline .form-subscribe form:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../sass/elements/_catchline.scss */
.catchline .form-subscribe .line {
  position: absolute;
  width: 0;
  display: block;
  height: 2px;
  background: #667AF4;
  bottom: 0;
  left: 0;
}
/* line 31, ../sass/elements/_catchline.scss */
.catchline .form-subscribe input[type="text"]:focus ~ .line {
  width: 15%;
}
/* line 36, ../sass/elements/_catchline.scss */
.catchline input {
  border: none;
  font-size: 20px;
  padding: .5em 0;
  outline: none;
}
/* line 42, ../sass/elements/_catchline.scss */
.catchline input[type="text"] {
  float: left;
  padding-left: 0;
  min-width: 70%;
  border-bottom: 1px solid #F6F6F6;
}
/* line 49, ../sass/elements/_catchline.scss */
.catchline input[type="submit"] {
  float: left;
  background: #667AF4;
  color: #fff;
  padding: .5em 1em;
}

/* line 1, ../sass/strates/_intro.scss */
#intro {
  position: relative;
  min-height: 65vh;
}
/* line 5, ../sass/strates/_intro.scss */
#intro h1, #intro h1 span {
  font-size: 1.7em;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  /* line 5, ../sass/strates/_intro.scss */
  #intro h1, #intro h1 span {
    font-size: 1.2em;
  }
}
/* line 13, ../sass/strates/_intro.scss */
#intro .content {
  clear: both;
  margin-top: 10px;
}
/* line 2, ../sass/basics/_clearfix.scss */
#intro .content:after {
  content: "";
  display: table;
  clear: both;
}
@keyframes floatingPreview {
  0% {
    margin: 0;
  }
  50% {
    margin-top: -10%;
  }
  100% {
    margin: 0;
  }
}
/* line 31, ../sass/strates/_intro.scss */
#intro #preview {
  transition: .2s ease-out;
  animation: floatingPreview 5s infinite;
}
/* line 35, ../sass/strates/_intro.scss */
#intro #preview img {
  width: 100%;
}
/* line 42, ../sass/strates/_intro.scss */
#intro .go-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* line 1, ../sass/strates/_intro.scss */
  #intro {
    min-height: auto;
  }
  /* line 52, ../sass/strates/_intro.scss */
  #intro .go-bottom {
    position: initial;
    margin-top: 4em;
  }
}

/* line 1, ../sass/strates/_about-app.scss */
#about-app {
  min-height: 80vh;
}
/* line 3, ../sass/strates/_about-app.scss */
#about-app .wrapper-content {
  padding: 6em 0;
  border: 2px solid #F6F6F6;
  border-radius: 8px;
}
/* line 9, ../sass/strates/_about-app.scss */
#about-app .visuals {
  margin-left: -5%;
}
/* line 12, ../sass/strates/_about-app.scss */
#about-app .visuals figure {
  overflow: hidden;
  border: 5px solid #fff;
}
/* line 16, ../sass/strates/_about-app.scss */
#about-app .visuals figure img {
  max-width: 100%;
}
/* line 22, ../sass/strates/_about-app.scss */
#about-app .content {
  transition: .2s ease-out;
}
/* line 27, ../sass/strates/_about-app.scss */
#about-app .block-content {
  margin-bottom: 1.5em;
}
/* line 30, ../sass/strates/_about-app.scss */
#about-app .block-content .small-cta {
  font-family: "Poppins", Arial, sans-serif;
  margin-top: 20px;
  padding-left: 0;
  transition: .3s ease-out;
}
/* line 35, ../sass/strates/_about-app.scss */
#about-app .block-content .small-cta .icon {
  visibility: hidden;
  opacity: 0;
  margin-left: -20px;
  transition: .3s ease-out;
}
/* line 45, ../sass/strates/_about-app.scss */
#about-app .block-content .content:hover .small-cta {
  padding-left: 5px;
  transition: .2s ease-out;
}
/* line 49, ../sass/strates/_about-app.scss */
#about-app .block-content .content:hover .small-cta .icon {
  opacity: 1;
  transform: translateX(-20px);
  visibility: visible;
  margin-left: 0;
  transition: .2s ease-out;
}
@media screen and (max-width: 600px) {
  /* line 61, ../sass/strates/_about-app.scss */
  #about-app .wrapper-content {
    padding: 1em 0;
    border: none;
  }
  /* line 66, ../sass/strates/_about-app.scss */
  #about-app .visuals {
    padding: 0;
    margin-left: initial;
    margin-bottom: 1.5em;
  }
  /* line 72, ../sass/strates/_about-app.scss */
  #about-app .block-content {
    margin-bottom: 0;
  }
  /* line 76, ../sass/strates/_about-app.scss */
  #about-app .content {
    display: none;
    visibility: hidden;
    margin-bottom: 1.5em;
  }
  /* line 81, ../sass/strates/_about-app.scss */
  #about-app .content.active {
    display: block;
    visibility: visible;
  }
}

/* line 1, ../sass/strates/_about-us.scss */
#about-us {
  position: relative;
  background: #F6F6F6;
  padding-bottom: 7em;
}
/* line 6, ../sass/strates/_about-us.scss */
#about-us:before {
  position: absolute;
  content: '';
  display: block;
  background: #F6F6F6;
  width: calc(100% + 30px);
  height: 130%;
  bottom: 0;
  left: -15px;
  z-index: -1;
}
/* line 17, ../sass/strates/_about-us.scss */
#about-us figure {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #fff;
  margin-bottom: 40px;
  overflow: hidden;
  border: 5px solid #fff;
}
/* line 27, ../sass/strates/_about-us.scss */
#about-us figure img {
  height: 250px;
  margin-left: -25%;
}
@media screen and (max-width: 600px) {
  /* line 1, ../sass/strates/_about-us.scss */
  #about-us {
    padding-bottom: 4em;
  }
  /* line 37, ../sass/strates/_about-us.scss */
  #about-us .ppl {
    margin-bottom: 4em;
  }
}

/* line 1, ../sass/strates/_pricing.scss */
#pricing {
  position: relative;
  min-height: 80vh;
}
@media screen and (max-width: 600px) {
  /* line 1, ../sass/strates/_pricing.scss */
  #pricing {
    min-height: auto;
  }
}
/* line 9, ../sass/strates/_pricing.scss */
#pricing:before {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% + 30px);
  height: 80vh;
  top: 60%;
  left: -15px;
  background: #F6F6F6;
}
/* line 21, ../sass/strates/_pricing.scss */
#pricing .pricing-els {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 600px) {
  /* line 21, ../sass/strates/_pricing.scss */
  #pricing .pricing-els {
    flex-direction: column;
  }
  /* line 29, ../sass/strates/_pricing.scss */
  #pricing .pricing-els .pricing-el {
    display: none;
    width: 100%;
    margin-bottom: 2em;
  }
  /* line 34, ../sass/strates/_pricing.scss */
  #pricing .pricing-els .pricing-el.active {
    display: block;
  }
  /* line 40, ../sass/strates/_pricing.scss */
  #pricing .pricing-els:nth-child(2) .head-el {
    padding: 2em 0 1em 0;
  }
}
/* line 47, ../sass/strates/_pricing.scss */
#pricing .pricing-el {
  width: 30%;
  background: #fff;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.05);
  transform: none;
  transition: .4s ease-out;
}
/* line 57, ../sass/strates/_pricing.scss */
#pricing .pricing-el:nth-child(2) .head-el {
  padding: 3em 0 2em 0;
}
/* line 62, ../sass/strates/_pricing.scss */
#pricing .pricing-el:hover {
  transform: translateY(-5%);
  transition: .3s ease-out;
}
/* line 66, ../sass/strates/_pricing.scss */
#pricing .pricing-el:hover .cta-el {
  color: #fff;
  transition: .2s ease-out;
}
/* line 69, ../sass/strates/_pricing.scss */
#pricing .pricing-el:hover .cta-el:before {
  right: 0;
  transition: .3s ease-out;
}
/* line 77, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el {
  padding: 2em 0 1em 0;
  border-bottom: 2px solid #F6F6F6;
}
/* line 80, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el h3 {
  font-size: 23px;
  font-weight: 600;
}
/* line 84, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el h3 span {
  font-size: inherit;
}
/* line 87, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el h3 span.price {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 3px;
}
/* line 96, ../sass/strates/_pricing.scss */
#pricing .pricing-el .content-el {
  padding: 1.5em 2em;
  text-align: center;
  line-height: 2;
}
/* line 102, ../sass/strates/_pricing.scss */
#pricing .pricing-el .cta-el {
  position: relative;
  background: #667AF4;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
/* line 111, ../sass/strates/_pricing.scss */
#pricing .pricing-el .cta-el a {
  position: relative;
  display: block;
  z-index: 2;
  padding: 1em 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .5px;
  transition: .3s ease-out;
}
/* line 123, ../sass/strates/_pricing.scss */
#pricing .pricing-el .cta-el:before {
  position: absolute;
  display: block;
  content: '';
  background: #667AF4;
  left: 0;
  right: 100%;
  top: 0;
  height: 100%;
  z-index: 0;
  transition: .3s ease-out;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* line 1, ../sass/strates/_intro.scss */
#intro {
  position: relative;
  min-height: 65vh;
}
/* line 5, ../sass/strates/_intro.scss */
#intro h1, #intro h1 span {
  font-size: 1.7em;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  /* line 5, ../sass/strates/_intro.scss */
  #intro h1, #intro h1 span {
    font-size: 1.2em;
  }
}
/* line 13, ../sass/strates/_intro.scss */
#intro .content {
  clear: both;
  margin-top: 10px;
}
/* line 2, ../sass/basics/_clearfix.scss */
#intro .content:after {
  content: "";
  display: table;
  clear: both;
}
@keyframes floatingPreview {
  0% {
    margin: 0;
  }
  50% {
    margin-top: -10%;
  }
  100% {
    margin: 0;
  }
}
/* line 31, ../sass/strates/_intro.scss */
#intro #preview {
  transition: .2s ease-out;
  animation: floatingPreview 5s infinite;
}
/* line 35, ../sass/strates/_intro.scss */
#intro #preview img {
  width: 100%;
}
/* line 42, ../sass/strates/_intro.scss */
#intro .go-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* line 1, ../sass/strates/_intro.scss */
  #intro {
    min-height: auto;
  }
  /* line 52, ../sass/strates/_intro.scss */
  #intro .go-bottom {
    position: initial;
    margin-top: 4em;
  }
}
