@charset "UTF-8";
/* line 1, ../sass/basics/_reset.scss */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  transition: .2s ease-out;
}

/* line 10, ../sass/basics/_reset.scss */
ul {
  padding: 0 !important;
  list-style-type: none;
}

/* line 15, ../sass/basics/_reset.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 20, ../sass/basics/_reset.scss */
body {
  overflow-x: hidden;
  background-image: url("../img/img-layout/background-img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 27, ../sass/basics/_reset.scss */
h1, h2, h3 {
  font-family: "Poppins", Arial, sans-serif;
}
/* line 29, ../sass/basics/_reset.scss */
h1 span, h2 span, h3 span {
  font-family: inherit;
  font-size: inherit;
}

/* line 35, ../sass/basics/_reset.scss */
p {
  line-height: 1.5;
}

@media screen and (min-width: 767px) {
  /* line 40, ../sass/basics/_reset.scss */
  section {
    margin: 4em 0;
  }
}
/* line 45, ../sass/basics/_reset.scss */
.content {
  transition: .3s ease-out;
}

/* line 49, ../sass/basics/_reset.scss */
footer {
  padding: 3em 0 5em 0;
}
/* line 52, ../sass/basics/_reset.scss */
footer ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

/* line 3, ../sass/basics/_classes.scss */
.return {
  display: block;
}

/* line 7, ../sass/basics/_classes.scss */
.bolder {
  font-weight: bolder;
}

/* line 13, ../sass/basics/_classes.scss */
.text-centered {
  text-align: center;
}

/* line 17, ../sass/basics/_classes.scss */
.text-right {
  text-align: right;
}

/* line 23, ../sass/basics/_classes.scss */
.pos-right {
  float: right;
}

/* line 27, ../sass/basics/_classes.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 34, ../sass/basics/_classes.scss */
.color-white {
  color: #fff;
}

/* line 38, ../sass/basics/_classes.scss */
.color-lblue {
  color: #667AF4;
}

/* line 42, ../sass/basics/_classes.scss */
.head-strate.spacer {
  margin: 2em 0 4em 0;
}

/* line 1, ../sass/styleguide/_buttons.scss */
.btn {
  display: block;
  position: relative;
  padding: 12px 25px;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 100;
  letter-spacing: .72px;
  border-radius: 2px;
  cursor: pointer;
  background: #667AF4;
  -webkit-font-smoothing: antialiased;
}
/* line 16, ../sass/styleguide/_buttons.scss */
.btn a {
  width: 100%;
  padding: 12px 0px;
}
/* line 21, ../sass/styleguide/_buttons.scss */
.btn.btn-blue {
  background: #667AF4;
  color: #fff;
}
/* line 26, ../sass/styleguide/_buttons.scss */
.btn:hover {
  opacity: .7;
}
/* line 30, ../sass/styleguide/_buttons.scss */
.btn.light {
  font-weight: 300;
}

/* line 35, ../sass/styleguide/_buttons.scss */
.small-cta {
  display: block;
  margin: 5px 0;
  cursor: pointer;
}
/* line 39, ../sass/styleguide/_buttons.scss */
.small-cta a {
  font-weight: 600;
}
/* line 43, ../sass/styleguide/_buttons.scss */
.small-cta .icon {
  vertical-align: middle;
}
/* line 47, ../sass/styleguide/_buttons.scss */
.small-cta.light-blue {
  color: #667AF4;
}
/* line 50, ../sass/styleguide/_buttons.scss */
.small-cta.light-blue svg path {
  fill: #667AF4;
}
/* line 55, ../sass/styleguide/_buttons.scss */
.small-cta svg {
  line-height: 4;
  margin-left: 10px;
  max-width: 15px;
}

/* line 5, ../sass/styleguide/_titles.scss */
.head-title {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 200;
}

/* line 11, ../sass/styleguide/_titles.scss */
.sb-title {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 500;
}

/* line 1, ../sass/elements/_header.scss */
header.sticky {
  position: fixed;
  padding: 0;
  z-index: 444;
  background: #fff;
  border-bottom: 1px solid #F1F1F1;
  transition: none;
}
/* line 9, ../sass/elements/_header.scss */
header.sticky .logo {
  display: none;
}

/* line 14, ../sass/elements/_header.scss */
header {
  position: absolute;
  padding: 2em 0;
  margin: auto;
  left: 0;
  right: 0;
  transition: none;
}

@media screen and (max-width: 767px) {
  /* line 24, ../sass/elements/_header.scss */
  .logo {
    text-align: center;
    margin-bottom: 1em;
  }
}
/* line 31, ../sass/elements/_header.scss */
.logo img {
  max-height: 60px;
}

/* line 37, ../sass/elements/_header.scss */
nav {
  line-height: 4;
  text-align: right;
}
/* line 40, ../sass/elements/_header.scss */
nav ul {
  font-size: 0;
}
/* line 43, ../sass/elements/_header.scss */
nav li {
  font-size: initial;
  display: inline-block;
  padding: 0 2em;
}
/* line 47, ../sass/elements/_header.scss */
nav li:last-child {
  padding-right: 0;
}
/* line 52, ../sass/elements/_header.scss */
nav li.active a {
  position: relative;
}
/* line 55, ../sass/elements/_header.scss */
nav li.active a:before {
  content: '';
  display: block;
  position: absolute;
  background: #667AF4;
  height: 2px;
  bottom: -10px;
  left: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  /* line 37, ../sass/elements/_header.scss */
  nav {
    display: none;
  }
}

/* line 1, ../sass/elements/_catchline.scss */
.catchline {
  clear: both;
  padding: 1.5em 0 5em 0;
}
/* line 5, ../sass/elements/_catchline.scss */
.catchline .head-title {
  padding-left: 0;
}
/* line 9, ../sass/elements/_catchline.scss */
.catchline p {
  font-family: "Poppins", Arial, sans-serif;
}
/* line 11, ../sass/elements/_catchline.scss */
.catchline p span {
  font-family: inherit;
  font-size: inherit;
}
/* line 17, ../sass/elements/_catchline.scss */
.catchline .form-subscribe {
  position: relative;
  padding-top: 30px;
}
/* line 2, ../sass/basics/_clearfix.scss */
.catchline .form-subscribe form:after {
  content: "";
  display: table;
  clear: both;
}
/* line 25, ../sass/elements/_catchline.scss */
.catchline .form-subscribe .line {
  position: absolute;
  width: 0;
  display: block;
  height: 2px;
  background: #667AF4;
  bottom: 0;
  left: 0;
}
/* line 35, ../sass/elements/_catchline.scss */
.catchline .form-subscribe input[type="text"]:focus ~ .line {
  width: 15%;
}
/* line 40, ../sass/elements/_catchline.scss */
.catchline input {
  border: none;
  font-size: 20px;
  padding: .5em 0;
  outline: none;
}
/* line 46, ../sass/elements/_catchline.scss */
.catchline input[type="text"] {
  float: left;
  padding-left: 0;
  min-width: 70%;
  border-bottom: 1px solid #F6F6F6;
}
/* line 53, ../sass/elements/_catchline.scss */
.catchline input[type="submit"] {
  float: left;
  background: #667AF4;
  color: #fff;
  width: 30%;
  padding: .5em 1em;
}
/* line 60, ../sass/elements/_catchline.scss */
.catchline input[type="submit"]:hover {
  opacity: .7;
}

/* line 1, ../sass/strates/_intro.scss */
#intro {
  position: relative;
  padding-top: 8em;
  min-height: 65vh;
  text-align: center;
}
/* line 7, ../sass/strates/_intro.scss */
#intro h1 {
  line-height: 1.3;
}
/* line 11, ../sass/strates/_intro.scss */
#intro h1 span {
  font-size: 1.3em;
  font-weight: 200;
}
/* line 15, ../sass/strates/_intro.scss */
#intro h1 span span {
  font-size: inherit;
  font-weight: inherit;
}
@media screen and (max-width: 767px) {
  /* line 11, ../sass/strates/_intro.scss */
  #intro h1 span {
    font-size: 1.2em;
  }
}
/* line 23, ../sass/strates/_intro.scss */
#intro h1 span.lined {
  position: relative;
}
/* line 47, ../sass/strates/_intro.scss */
#intro .caption {
  clear: both;
}
/* line 52, ../sass/strates/_intro.scss */
#intro .content {
  clear: both;
  margin-top: 30px;
}
/* line 2, ../sass/basics/_clearfix.scss */
#intro .content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 57, ../sass/strates/_intro.scss */
#intro .content .btn {
  margin: 2em auto;
  border-radius: 2px;
}
@keyframes floatingPreview {
  0% {
    margin: 0;
  }
  50% {
    margin-top: -10%;
  }
  100% {
    margin: 0;
  }
}
/* line 75, ../sass/strates/_intro.scss */
#intro #preview {
  transition: .2s ease-out;
  animation: floatingPreview 5s infinite;
}
/* line 79, ../sass/strates/_intro.scss */
#intro #preview img {
  width: 100%;
}

/* line 1, ../sass/strates/_about-app.scss */
#about-app {
  padding-top: 7em;
  min-height: 80vh;
}
/* line 4, ../sass/strates/_about-app.scss */
#about-app .wrapper-content {
  padding: 6em 0;
  border: 1px solid #F6F6F6;
  border-radius: 8px;
}
/* line 17, ../sass/strates/_about-app.scss */
#about-app .visuals {
  margin-left: -5%;
}
/* line 20, ../sass/strates/_about-app.scss */
#about-app .visuals figure {
  overflow: hidden;
  border: 5px solid #fff;
}
/* line 24, ../sass/strates/_about-app.scss */
#about-app .visuals figure img {
  max-width: 100%;
}
/* line 30, ../sass/strates/_about-app.scss */
#about-app .content {
  transition: .2s ease-out;
}
/* line 35, ../sass/strates/_about-app.scss */
#about-app .block-content {
  margin-bottom: 1.5em;
}
/* line 38, ../sass/strates/_about-app.scss */
#about-app .block-content .small-cta {
  visibility: hidden;
  opacity: 0;
  font-family: "Poppins", Arial, sans-serif;
  margin-top: 20px;
  padding-left: 0;
  margin-left: -15px;
  transition: .4s ease-out;
}
/* line 57, ../sass/strates/_about-app.scss */
#about-app .block-content .content:hover .small-cta {
  visibility: visible;
  opacity: 1;
  margin-left: 0;
  transition: .2s ease-out;
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  /* line 76, ../sass/strates/_about-app.scss */
  #about-app .caption {
    float: none;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  /* line 83, ../sass/strates/_about-app.scss */
  #about-app .wrapper-content {
    padding: 1em 0;
    border: none;
  }
  /* line 88, ../sass/strates/_about-app.scss */
  #about-app .visuals {
    padding: 0;
    margin-left: initial;
    margin-bottom: 1.5em;
  }
  /* line 94, ../sass/strates/_about-app.scss */
  #about-app .block-content {
    margin-bottom: 0;
  }
  /* line 98, ../sass/strates/_about-app.scss */
  #about-app .content {
    display: none;
    visibility: hidden;
    margin-bottom: 1.5em;
  }
  /* line 103, ../sass/strates/_about-app.scss */
  #about-app .content.active {
    display: block;
    visibility: visible;
  }
}

/* line 1, ../sass/strates/_about-us.scss */
#about-us {
  position: relative;
  padding-bottom: 7em;
}
/* line 17, ../sass/strates/_about-us.scss */
#about-us figure {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #fff;
  margin-bottom: 40px;
  overflow: hidden;
  border: 5px solid #fff;
}
/* line 27, ../sass/strates/_about-us.scss */
#about-us figure img {
  height: 250px;
  margin-left: -25%;
}
/* line 32, ../sass/strates/_about-us.scss */
#about-us figure img:last-child {
  margin-left: -15%;
  height: 200px;
}
@media screen and (max-width: 767px) {
  /* line 1, ../sass/strates/_about-us.scss */
  #about-us {
    padding-bottom: 4em;
  }
  /* line 42, ../sass/strates/_about-us.scss */
  #about-us .ppl {
    margin-bottom: 4em;
  }
}

/* line 1, ../sass/strates/_pricing.scss */
#pricing {
  position: relative;
  min-height: 80vh;
}
@media screen and (max-width: 767px) {
  /* line 1, ../sass/strates/_pricing.scss */
  #pricing {
    min-height: auto;
  }
}
/* line 10, ../sass/strates/_pricing.scss */
#pricing.off:before {
  height: 0;
}
/* line 15, ../sass/strates/_pricing.scss */
#pricing:before {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% + 30px);
  height: 100vh;
  top: 60%;
  left: -15px;
  background: #F6F6F6;
  transition: 1.2s ease-in-out;
}
@media screen and (min-width: 1024px) {
  /* line 15, ../sass/strates/_pricing.scss */
  #pricing:before {
    height: 125vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 15, ../sass/strates/_pricing.scss */
  #pricing:before {
    height: 130vh;
  }
}
@media screen and (max-width: 767px) {
  /* line 15, ../sass/strates/_pricing.scss */
  #pricing:before {
    height: 175vh;
  }
}
@media screen and (max-width: 480px) {
  /* line 15, ../sass/strates/_pricing.scss */
  #pricing:before {
    height: 190vh;
  }
}
/* line 43, ../sass/strates/_pricing.scss */
#pricing .pricing-els {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  /* line 43, ../sass/strates/_pricing.scss */
  #pricing .pricing-els {
    flex-direction: column;
  }
  /* line 51, ../sass/strates/_pricing.scss */
  #pricing .pricing-els .pricing-el {
    display: none;
    width: 100%;
    margin-bottom: 2em;
  }
  /* line 56, ../sass/strates/_pricing.scss */
  #pricing .pricing-els .pricing-el.active {
    display: block;
  }
  /* line 62, ../sass/strates/_pricing.scss */
  #pricing .pricing-els:nth-child(2) .head-el {
    padding: 2em 0 1em 0;
  }
}
/* line 69, ../sass/strates/_pricing.scss */
#pricing .pricing-el {
  width: 30%;
  background: #fff;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
  transform: none;
  transition: .4s ease-out;
}
/* line 79, ../sass/strates/_pricing.scss */
#pricing .pricing-el:nth-child(2) .head-el {
  padding: 3em 0 2em 0;
}
@media screen and (min-width: 1024px) {
  /* line 85, ../sass/strates/_pricing.scss */
  #pricing .pricing-el:hover {
    transform: translateY(-5%) !important;
    box-shadow: 0 24px 38px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.12);
  }
  /* line 89, ../sass/strates/_pricing.scss */
  #pricing .pricing-el:hover .cta-el {
    color: #fff;
    transition: .2s ease-out;
  }
  /* line 92, ../sass/strates/_pricing.scss */
  #pricing .pricing-el:hover .cta-el:before {
    right: 0;
    transition: .3s ease-out;
  }
}
/* line 101, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el {
  padding: 2em 0 1em 0;
  border-bottom: 1px solid #F6F6F6;
}
/* line 104, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el h3 {
  font-size: 23px;
  font-weight: 400;
}
/* line 108, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el h3 span {
  font-size: inherit;
}
/* line 111, ../sass/strates/_pricing.scss */
#pricing .pricing-el .head-el h3 span.price {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 3px;
}
/* line 120, ../sass/strates/_pricing.scss */
#pricing .pricing-el .content-el {
  padding: 1.5em 2em;
  text-align: center;
  line-height: 2;
}
/* line 126, ../sass/strates/_pricing.scss */
#pricing .pricing-el .cta-el {
  position: relative;
  background: #667AF4;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
/* line 135, ../sass/strates/_pricing.scss */
#pricing .pricing-el .cta-el a {
  position: relative;
  display: block;
  z-index: 2;
  padding: 1em 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .5px;
  transition: .3s ease-out;
}
/* line 147, ../sass/strates/_pricing.scss */
#pricing .pricing-el .cta-el:before {
  position: absolute;
  display: block;
  content: '';
  background: #667AF4;
  left: 0;
  right: 100%;
  top: 0;
  height: 100%;
  z-index: 0;
  transition: .3s ease-out;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* line 1, ../sass/strates/_intro.scss */
#intro {
  position: relative;
  padding-top: 8em;
  min-height: 65vh;
  text-align: center;
}
/* line 7, ../sass/strates/_intro.scss */
#intro h1 {
  line-height: 1.3;
}
/* line 11, ../sass/strates/_intro.scss */
#intro h1 span {
  font-size: 1.3em;
  font-weight: 200;
}
/* line 15, ../sass/strates/_intro.scss */
#intro h1 span span {
  font-size: inherit;
  font-weight: inherit;
}
@media screen and (max-width: 767px) {
  /* line 11, ../sass/strates/_intro.scss */
  #intro h1 span {
    font-size: 1.2em;
  }
}
/* line 23, ../sass/strates/_intro.scss */
#intro h1 span.lined {
  position: relative;
}
/* line 47, ../sass/strates/_intro.scss */
#intro .caption {
  clear: both;
}
/* line 52, ../sass/strates/_intro.scss */
#intro .content {
  clear: both;
  margin-top: 30px;
}
/* line 2, ../sass/basics/_clearfix.scss */
#intro .content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 57, ../sass/strates/_intro.scss */
#intro .content .btn {
  margin: 2em auto;
  border-radius: 2px;
}
@keyframes floatingPreview {
  0% {
    margin: 0;
  }
  50% {
    margin-top: -10%;
  }
  100% {
    margin: 0;
  }
}
/* line 75, ../sass/strates/_intro.scss */
#intro #preview {
  transition: .2s ease-out;
  animation: floatingPreview 5s infinite;
}
/* line 79, ../sass/strates/_intro.scss */
#intro #preview img {
  width: 100%;
}

/* line 7, ../sass/screen.scss */
header.sticky  {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 444;
  padding: 1em 0;
  background: #fff;
  border-bottom: 1px solid #F1F1F1;
}
