#about-us {
    position: relative;
    margin: 0 auto 3em auto;
    padding: 3em 0;
    background: $llgrey;

    .head-strate {
      visibility: hidden;
      max-height: 0;
      overflow: hidden;
    }

    figure {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        background: #fff;
        margin-bottom: 20px;
        overflow: hidden;

        img {
            height: 230px;
            margin-left: -8%;
            transition: .5s ease-out;

            &:last-child {
                margin-left: -10%;
                height: 210px;
            }
        }
    }

    .ppl:hover {
      img {
        opacity: .8;
        transform: scale(1.1);
        transition: .5s ease-out;
      }
    }

    @media screen and (max-width: $mobile-lg) {
        padding-bottom: 4em;

        .ppl {
            margin-bottom: 4em;
        }
    }
}
