#about-app {
    padding-top: 7em;
    min-height: 80vh;
    .wrapper-content {
        padding: 6em 0;
        border: 1px solid $lgrey;
        border-radius: $radius;
    }

    .content {
        position: relative;
        padding-left: 90px;
        transition: .2s ease-out;

        figure {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: .9;

            img {
                width: 110px;
                // filter: grayscale(100%);
                // transition: .2s ease-out;
            }
        }

        // &:hover {
        //     img {
        //         filter: none;
        //         transition: .2s ease-out;
        //     }
        // }
    }

    // texts
    .block-content {
        margin-bottom: 3.5em;

        .small-cta {
            visibility: hidden;
            opacity: 0;
            font-family: $Poppins;
            margin-top: 20px;
            padding-left: 0;
            margin-left: -15px;
            transition: .4s ease-out;

            .icon path {
                fill: $lblue;
            }
        }

        .content:hover {

            .small-cta {
                visibility: visible;
                opacity: 1;
                margin-left: 0;
                transition: .2s ease-out;

                .icon path {
                    fill: $lblue;
                }
            }
        }
    }

    @media screen and (min-width: $mobile-lg) and (max-width: $tablet-lg) {

        .caption {
            float: none;
            margin: 0 auto;
        }

        .block-content {
            // clear: both;

            // .content {
            //     clear: both;
            // }
        }
    }

    @media screen and (max-width: $mobile-lg) {
        .wrapper-content {
            padding: 3em 0;
        }

        figure {
            position: initial !important;
            width: 200px;
            margin: 0 auto;
        }

        .block-content {
            float: none;
            margin: 0 auto;
            margin-bottom: 0;
            text-align: center;
        }

        .content {
            clear: both;
            margin-bottom: 2.5em;
            padding-left: 15px;

        }
    }
}
