#about-app {
    padding-top: 7em;
    min-height: 80vh;
    .wrapper-content {
        padding: 6em 0;
        border: 1px solid $llgrey;
        border-radius: $radius;
    }

    .visuals {
        margin-left: -5%;

        figure {
            overflow: hidden;
            border: 5px solid #fff;

            img {
                max-width: 100%;
            }
        }
    }

    .content {
        transition: .2s ease-out;
    }

    // texts
    .block-content {
        margin-bottom: 1.5em;

        .small-cta {
            visibility: hidden;
            opacity: 0;
            font-family: $Poppins;
            margin-top: 20px;
            padding-left: 0;
            margin-left: -15px;
            transition: .4s ease-out;

            .icon path {
                fill: $lblue;
            }
        }

        .content:hover {

            .small-cta {
                visibility: visible;
                opacity: 1;
                margin-left: 0;
                transition: .2s ease-out;

                .icon path {
                    fill: $lblue;
                }
            }
        }
    }

    @media screen and (min-width: $mobile-lg) and (max-width: $tablet-lg) {

        .caption {
            float: none;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: $mobile-lg) {
        .wrapper-content {
            padding: 1em 0;
            border: none;
        }

        .visuals {
            padding: 0;
            margin-left: initial;
            margin-bottom: 1.5em;
        }

        .block-content {
            margin-bottom: 0;
        }

        .content {
            margin-bottom: 1.5em;

        }
    }
}
