#about-app {
    min-height: 100vh;
    .wrapper-content {
        padding: 6em 0;
        border: 2px solid $llgrey;
        border-radius: $radius;
    }

    .visuals {
        margin-left: -5%;

        figure {
            overflow: hidden;
            border: 2px solid red;
        }
    }

    .content {
        transition: .2s ease-out;
    }

    // texts
    .block-content {
        margin-bottom: 1.5em;

        .small-cta {
            font-family: $Poppins;
            margin-top: 20px;
            padding-left: 0;
            transition: .3s ease-out;
            .icon {
                visibility: hidden;
                opacity: 0;
                margin-left: -20px;
                transition: .3s ease-out;
            }
        }

        .content:hover {

            .small-cta {
                padding-left: 5px;
                transition: .2s ease-out;
            }
            .small-cta .icon {
                opacity: 1;
                transform: translateX(-20px);
                visibility: visible;

                margin-left: 0;
                transition: .2s ease-out;
            }
        }
    }

    @media screen and (max-width: $mobile-lg) {
        .wrapper-content {
            padding: 1em 0;
            border: none;
        }

        .visuals {
            padding: 0;
            margin-left: initial;
            margin-bottom: 1.5em;
        }

        .block-content {
            margin-bottom: 0;
        }

        .content {
            display: none;
            visibility: hidden;
            margin-bottom: 1.5em;

            &.active {
                display: block;
                visibility: visible;
            }
        }
    }
}
