#intro {
    position: relative;
    padding-top: 6em;
    min-height: 100vh;
    margin: 0;

    @media screen and (max-width: $mobile-lg) {
        max-height: auto;
    }

    .container {
        padding-top: 8em;
        max-width: 60%;
        margin-left: 7%;
        float: left !important;
    }

    .wrapper-actions {
        label {
            display: block;
            border-radius: $radius;
            margin-bottom: 15px;
            text-transform: uppercase;
            letter-spacing: .7px;
            font-weight: 400;
        }
    }

    form {
        @include clearfix;
    }

    @media screen and (max-width: $tablet-lg) {

        .container {
            max-width: 100%;
            float: none !important;
            margin: 0 auto;
            padding-top: 0;
        }

        padding-top: 10em;
        min-height: 60vh;
        text-align: center;

        .wrapper-actions {
            float: none;
            margin: 0 auto;
        }

        .content p {
            width: 70%;
            margin: 0 auto;

            @media screen and (max-width: $mobile-lg) {
                width: 85%;
            }
        }

        .btn {
            margin: 2em auto !important;
        }
    }

    h1 {
        line-height: 1.3;
    }

    h1 span {
        font-size: 1.3em;
        font-weight: 200;

        span {
            font-size: inherit;
            font-weight: inherit;
        }
        @media screen and (max-width: $mobile-lg) {
            font-size: 1.2em;
        }

        &.lined {
            position: relative;
        }
    }

    .caption {
        clear: both;
        // margin-bottom: .7em;
    }

    .content {
        @include clearfix;
        clear: both;
        margin-top: 10px;

        .btn {
            margin: 2em 0 0 0;
            border-radius: 2px;
        }
    }

    @keyframes floatingPreview {
        0% {
            margin: 0;
        }
        50% {
            margin-top: -10%;
        }
        100% {
            margin: 0;
        }
    }

    #preview {
        position: absolute;
        margin: auto;
        bottom: 0;
        top: 30%;
        width: 55%;
        height: 100%;
        right: 0;

        figure {
            position: absolute;
            height: 100%;
            width: 100%;
            right: 0;
            overflow: hidden;

            [data-device="mobile"] {
                position: absolute;
                display: none;
                height: 80%;
                width: auto;
                margin: auto;
                bottom: 0;
                top: 0;
                left: -5%;
            }



            @media screen and (max-width: $mobile-lg) {
                position: initial;
            }
        }

        @media screen and (max-width: $mobile-lg) {
            position: initial;
        }

    }
}
