#intro {
    position: relative;
    min-height: 65vh;

    h1, h1 span {
        font-size: 1.7em;
        font-weight: 600;
        @media screen and (max-width: $mobile-lg) {
            font-size: 1.2em;
        }
    }

    .content {
        @include clearfix;
        clear: both;
        margin-top: 10px;
    }

    @keyframes floatingPreview {
        0% {
            margin: 0;
        }
        50% {
            margin-top: -10%;
        }
        100% {
            margin: 0;
        }
    }

    #preview {
        transition: .2s ease-out;
        animation: floatingPreview 5s infinite;

        img {
            width: 100%;
        }
    }

    // go down

    .go-bottom {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    @media screen and (max-width: $mobile-lg) {
        min-height: auto;
        .go-bottom {
            position: initial;
            margin-top: 4em;
        }
    }
}
